name: Wake SafeLaunch Guard
on:
  schedule:
    - cron: "0 */4 * * *" # Runs every 4 hours
  workflow_dispatch: # Allows you to trigger it manually

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Streamlit App
        run: |
          curl -I https://safelaunch-guard-t8c9eesozo5gglkecsynsy.streamlit.app/
